.b-single-article{
    display: flex;
    left: 30%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    position: fixed;
    width: 70%;
    height: 100%;
    padding: 15px 30px;
    .b-single-title{
      color:#8d99a0;
      span{
        margin-right: 20px;
      }
      i{
        margin-right: 10px;
      }
    }
  .b-single-content{
    margin-top: 20px;
    overflow-y: auto;
  }
}
