<ul ngfor="let item of items" class="b-side-navigation">
  <li>
    <a [routerLink]="['/backend/machine_learning']" routerLinkActive="active">machine learning</a>
  </li>
  <li>
    <a [routerLink]="['/backend/deep_learning']" routerLinkActive="active">deep learning</a>
  </li>
  <li>
    <a [routerLink]="['/backend/javascript']" routerLinkActive="active">javascript</a>
  </li>
  <li>
    <a [routerLink]="['/backend/css']" routerLinkActive="active">css</a>
  </li>
  <li>
    <a [routerLink]="['/backend/nodejs']" routerLinkActive="active">nodejs</a>
  </li>
  <li>
    <a [routerLink]="['/backend/insight']" routerLinkActive="active">insights</a>
  </li>
  <li>
    <a [routerLink]="['/backend/blog-editor']" routerLinkActive="active">add new</a>
  </li>
  <li>
    <a [routerLink]="['/admin/login']" routerLinkActive="active">relogin</a>
  </li>
</ul>
<router-outlet></router-outlet>

