<ul ngfor="let item of items" class="b-side-navigation">
  <li>
    <a [routerLink]="['/index/machine_learning']" routerLinkActive="active">machine learning</a>
  </li>
  <li>
    <a [routerLink]="['/index/deep_learning']" routerLinkActive="active">deep learning</a>
  </li>
  <li>
    <a [routerLink]="['/index/javascript']" routerLinkActive="active">javascript</a>
  </li>
  <li>
    <a [routerLink]="['/index/css']" routerLinkActive="active">css</a>
  </li>
  <li>
    <a [routerLink]="['/index/nodejs']" routerLinkActive="active">nodejs</a>
  </li>
  <li>
    <a [routerLink]="['/index/insight']" routerLinkActive="active">insights</a>
  </li>
</ul>

<div class="b-side-profile">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>What you want to know</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <div class="b-side-profile-img">
    <mat-card class="example-card">
      <mat-card-header>
          <img mat-card-image src="../../assets/IMG_0331.jpg" alt="Photo of a Clone">
          <mat-card-title>Su Peng</mat-card-title>
          <mat-card-subtitle>Software Engineer</mat-card-subtitle>
          <mat-card-subtitle>
            <i class="fa fa-home fa-2x menu-icon" aria-hidden="true"></i>
            Hangzhou
          </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          So much spicy equals so much pain
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="b-side-profile-foot">
    <a href="https://github.com/supeng123" class="b-side-git" target="_blank" matTooltip="https://github.com/supeng123">
      <i class="fa fa-github fa-2x menu-icon" aria-hidden="true"></i>
    </a>
    <a href="javascript:void(0)" class="b-side-more" target="_blank">
      <i class="fa fa-ellipsis-h fa-2x menu-icon" aria-hidden="true"></i>
    </a>
    <a href="javascript:void(0)" class="b-side-email" target="_blank" matTooltip="supeng0705@gmail.com">
      <i class="fa fa-envelope fa-2x menu-icon" aria-hidden="true"></i>
    </a>
  </div>
</div>
<router-outlet></router-outlet>

